:root{
    --primary-color: #e50914;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial',sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}
ul{
    list-style: none;
}

h1,h2,h3,h4{
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('image/background.jpg') no-repeat center center/cover; /*cover는 백그라운드 이미지가 빈틈 없이 매워지게 하는 방법*/
}

.showcase-top{
    position: relative;
    height: 90px;
}

.showcase-top img{
    width: 170px;
    position: absolute; /* 부모 엘리먼트 내부에 속박되지 않고 독립된 배치 문맥을 가짐
                        단 상위 엘리먼트에 relative 속성이 있다면 그 내부 안에서 자유롭게*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*요소를 왼쪽에서부터 상대적으로 거리를 재배치*/
                                    /*보통 요소를 중앙에 위치시키기 위해 -50 -50을 많이 사용함*/
}


.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}
.btn{
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem; /*기본 사이즈가 rem이 된다 웹 브라우저마다 다른 기본 폰트 사이즈에 대응할수 있는 장점*/
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0 0.45);
    border-radius: 2px;
}

.btn:hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 5px;
}
.btn-xl{
    font-size: 1rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}